SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_URL=
SPRING_DATA_REDIS_URL=
DOCKER_HUB_USERNAME=
SECURITY_JWT_SECRET
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
GOOGLE_APPLICATION_CREDENTIALS=
AWS_REGION=us-east-1
AWS_S3_BUCKET=
AWS_CLOUDFRONT_DOMAIN=
PASSWORD_RECOVERY_WEB_REDIRECT=
PASSWORD_RECOVERY_MOBILE_REDIRECT=